*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    scroll-margin-top: 100px;
}
body{
    font: 20px Arial black, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
/* Topnav */
#Topnav{
    display: flex;
    flex-wrap: nowrap;
    background-color: darkgray;
    order: 1;
    z-index: 3;
    position: sticky;
    scroll-snap-align: start;
}
#Topnav a{
    text-decoration: none;
    color: white;
}
#Topnav div{
    height: 80px;
}
/* Left */
#Left{
    display: flex;
    flex: 1;
    order: 1;
}
#Left img{
    height: 80px;
}
/* Middle */
#Middle{
    display: flex;
    flex: 3;
    order: 2;
    justify-content: center;
    align-items: center;
}
#Middle a, .Dropbtn{
    padding: 28.5px 20px;
    color: white;
}
#Middle a:hover, .Dropdown:hover .Dropbtn{
    color: black;
}
.Dropdown:hover .Dropdown-content{
    display: flex;
}
button:hover{
    cursor: pointer;
}
.Dropdown-content{
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: darkgray;
    min-width: inherit;
    margin: 0 0;
}
.Dropdown-content a{
    padding: 0 40px;
    background-color: darkgray;
}
.Dropbtn{
    font-size: 20px;
    display: flex;
    flex-wrap: nowrap;
}
.Dropbtn{
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
}
/* Right */
#Right{
    display: flex;
    flex: 1;
    order: 3;
    justify-content: center;
    align-items: center;
}
#frm1{
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
input[type=text]{
    /* width: 100%; */
    padding: 4px 10px;
    /* margin: 8px 0; */
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
  }
input[type=button]{
    padding: 4px 10px;
    border-radius: 10px;
}    

/* Main */
main{
    display: flex;
    width: 100%;
    order: 2;
    align-self: center;
    flex-direction: column; 
    background-image: url(selfrepeating1.png);
}
.mainsection{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
}

.sectionclouds{
    display: flex;
    height: 50vh;
    margin: 0 0 0 0;
    padding: 0 1%;
    width: 40%;
    position: absolute;
    z-index: 2;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 35px;
}

#sectionclouds1{
    font-size: 60px;
}

/* animatie shit */
.text-in-animation{
    animation-name: textin;
    animation-duration: 1.5s;
}
@keyframes textin{
    from {transform: translateY(-500px); opacity: 0;}
    to {transform: translateY(0px); opacity: 1;}
}
.homeimgs{
    display: flex;
    height: 45vh;
    top: 40vh;
    bottom: 15vh;
    position: absolute;
    /* animation-name: img1;
    animation-duration: 2s; */
}
.img-opacity-animation{
    animation-name: imgopacity;
    animation-duration: 2s;
}
@keyframes imgopacity{
    from{opacity: 0;}
    to{opacity: 1;}
}

/* Bottom nav */
#Bottomnav{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: darkgray;
    order: 3;
    scroll-snap-align: start;
}
